{
    "irc_server": "irc.server.com",
    "irc_port": 6667,
    "irc_nickname": "RelayBot",
    "discord_bot_token": "",
    "irc_to_discord_webhooks": {
        "#irc-channel": "https://discord.com/api/webhook/url",
        "#more-irc-channel": "https://discord.com/api/webhooks/url",
    },
    "discord_to_irc_channels": {
        "discord_channel_id": "#irc-channel",
        "1234567890123456789": "#more-irc-channel",
    },
    "ignored_irc_nicknames": ["bot1", "bot2"],
    "ignored_message_patterns": [
        "^!command",
        "\\[ANN\\].*"
    ],
    "enable_discord_logging": false,
    "enable_irc_logging": false

}

